body{
background: ghostwhite;  /* fallback for old browsers */
}
.mt-100{
    margin-top: 87.5px ;
}
.mt-85{
    margin-top: 40px ;
}
.mt-80{
    
}
.img{
    width: 80%;
    height: 350px;
}

.abc{
    width: 100%;
    height : 90px;
}
.abd{
    width:100%;
    height:80px
}
.abq{
    width: 100%;
    height : 50px;
}
.aq{
    background: #e7f9ff;
}
.navcol{
    background: #282525;
}
a {
    color: darkblue;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.pml-12{
    margin-left: auto;
    margin-right: auto;
}
.blue_col{
    background: #e7f9ff;
}
.pu_col{
    background: #B8B5FF;
}
.card_col{
    background: #eeddff;
}
.size{
    font-size: 3vw;
}
#Welcome{
    text-align: center;
    font-family: 'Tangerine',serif;
    font-size: xxx-large;
    text-shadow: 4px 4px 4px #aaa;
}