{% extends 'base.html' %}
{% block content %}
    <div class="abd">
        {% if error %}
            <br>
            <br>
           <div class="blink_me" style=" color: #9C1A1C; font-size: 20px">
                <strong>Error</strong>:
                {{error}}
            </div>
        {% endif %}
    </div>
    <div class="card aq">
        <div class="card-body ">
            <form class="form" method="post" action="/login_validation">
                <label>User ID</label><br>
                <input class="form-control" type="text" name="user_Id"><br>
                <label>Password</label><br>
                <input class="form-control" type="password" name="password">
                <br>
                <input type="submit" class="btn btn-dark btn-block btn-lg" value="Login">
                <strong>
                    <p style="margin-top:10px; color: #142850">
                        Not a member?
                        <a class="blink_me" href="/signup" style="margin-left: 20px">Sign Up</a>
                    </p>
                </strong>
                <strong>
                    <p style="margin-top:10px; color: #142850">
                        <a href="/forget" style="margin-left: 20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forget Password</a>
                    </p></strong>
            </form>
        </div>
    </div>
{% endblock %}