{% extends 'base.html' %}
{% block content %}
<div class="abd">
    {% if error %}
    <br>
    <br>
    <div class="blink_me" style=" color: #9C1A1C; font-size: 20px">
        <strong>Error</strong>:
        {{error}}
    </div>
    {% endif %}
</div>
<div class="card mt-85 aq">
    <div class="card-body ">
        <form class="form" method="post" action="/reset">
            <label>New Password</label>
            <input class="form-control" type="password" name="p1">
            <p></p>
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="p2">
            <p></p>
            <input type="submit" class="btn btn-dark btn-block btn-lg" value="Login">
            <input type="hidden" name="user_Id" value={{ users_id }}>
        </form>
    </div>
</div>
{% endblock %}