<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>

    </style>
    <title>Home</title>
</head>

<body style="background: ghostwhite">
    <nav class="navbar navbar-dark navcol">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/iiti_logo.png" width="280px" height="70%" class="d-inline-block align-top" alt="">
            </a>
           <div class="btn-group size">
  <button type="button" class="btn btn-info">
      <strong class="navbar-text pull-right" style=" font-family: 'Lucida Handwriting';">{{user}}</strong>
  </button>
  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
        <a class="dropdown-item" href="/" onclick="preventBack()">
                <i class="fa fa-sign-out" style="font-size:2vw;">Logout</i>
        </a>
  </div>
    </div>
        </div>
    </nav>
    <div class="abc"></div>
    <div id="Welcome" class="col-md-12">
    <strong><h1 style="color: chartreuse">Welcome to IIT Indore</h1></strong>
    </div>
    <div class="mt-85 col-md-11 pml-12">
        {# <div class="row">#}
            <div id="accordion">
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                Year 1
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header blue_col" id="heading1-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse1-1" aria-expanded="false"
                                            aria-controls="collapse1-1">
                                            SEMESTER 1
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1-1" class="collapse" aria-labelledby="heading1-1"
                                    data-parent="#collapseOne">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-CH-103-list" data-toggle="list" href="#list-CH-103"
                                                        role="tab" aria-controls="C103">CH-103 + CH-153</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-105-list" data-toggle="list" href="#list-MA-105"
                                                        role="tab" aria-controls="MA-105">MA-105</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-PH-105-list" data-toggle="list" href="#list-PH-105"
                                                        role="tab" aria-controls="PH-105">PH-105</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-103 + IC-153-list" data-toggle="list" href="#list-CS-103 + IC-153"
                                                        role="tab" aria-controls="CS-103 + IC-153">CS-103 + IC-153</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-HS-159-list" data-toggle="list" href="#list-HS-159"
                                                        role="tab" aria-controls="HS-159">HS-159</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-CH-103"
                                                        role="tabpanel" aria-labelledby="list-CH-103-list">
                                                        <strong>Chemistry</strong><br>
                                                        <strong>Linking microscopic and bulk thermodynamic properties:</strong>
                                                        Distribution of molecular states and relation to entropy, Boltzmann
                                                        distribution, ensembles, partition functions.
                                                        <strong>Elucidation of structure and properties:</strong> Experimental techniques,
                                                        Interaction light with matter, absorption and emission spectra,
                                                        intensities of spectral lines, Beer-Lambert law, spontaneous and
                                                        simulated emission, transition moments and selection rules, FranckCondon principle, lasers and fluorescence.
                                                        <strong>Chemical Bonding:</strong> Valence Bond Theory (VBT), Molecular Orbital
                                                        Theory (MOT)
                                                        <stong>Structure and Bonding of Coordination Complexes:</stong> Tetrahedral,
                                                        Octahedral, Square planar and Square Pyramidal complexes
                                                        Introduction to Organometallic Complexes: Structure and Bonding
                                                        Application of Coordination Complexes
                                                    </div>
                                                    <div class="tab-pane fade" id="list-MA-105" role="tabpanel"
                                                        aria-labelledby="list-MA-105-list">
                                                        <strong>Calculus</strong><br>
                                                        Review of limits, continuity, differentiability.
Mean Value Theorem, Taylor Theorem, Maxima and Minima.
Riemann integrals, Fundamental theorem of Calculus, Improper
integrals, application to area, volume.
Convergence of sequences and series, power series.
Partial Derivatives, gradient and directional derivatives, chain rule,
maxima and minima, Lagrange multipliers.
Double and triple integration, Jacobians and change of variables
formula.
Parametrization of curves and surfaces, vector fields, line and surface
integrals. Divergence and curl, theorems of Green, Gauss, Stokes.
                                                    </div>
                                                    <div class="tab-pane fade" id="list-PH-105" role="tabpanel"
                                                        aria-labelledby="list-PH-105-list">
                                                        <strong>Physics I</strong><br>
                                                        <strong>Quantum Mechanics:</strong> Review of quantum concepts, Particle nature of
light, Photoelectric effect, Compton effect, Waves, Wave packets,
Phase and Group velocity, Davisson Germer Experiment, Heisenberg
uncertainty principle, Schrodinger equation, Probabilistic interpretation of wave function.
One dimensional problems- Particle in a box, Potential well, Potential
barrier and Tunneling, Harmonic oscillator. Hydrogen atom.
Elements of statistical physics: Maxwellian distribution, Bose-Einstein
and Fermi-Dirac distributions.
<strong>Solid State Physics:</strong> Crystalline and Amorphous Solids, Bonding in
solids, Ionic Crystals, Covalent Crystals, Defects in crystals, Band
Theory of Solids, Brillouin Zones, Origin of Forbidden bands,
Semiconductor Devices,
<strong>Wave Optics: </strong>Principle of superposition, Bi-Prism, Interference in thin
films, Two Beam and Multiple Beam interferometers. Diffraction at
single slit, Two slits and N-Slits
                                                    </div>
                                                    <div class="tab-pane fade" id="list-CS-103 + IC-153" role="tabpanel"
                                                        aria-labelledby="list-CS-103 + IC-153-list">
                                                        <strong>Computer Science and Engineering</strong>
                                                        <ol>
                                                            <li>
                                                                Developer fundamentals such as editor, integrated programming
environment, Turbo C++ and/or Microsoft Visual C++ Programming
environment, modules, libraries.
                                                            </li>
                                                            <li>
                                                                Programming features: Machine representation, primitive types,
arrays and records, objects, expressions, control statements,
iteration, procedures, functions, and basic i/o
                                                            </li>
                                                            <li>
                                                                Sample problems in engineering, science, text processing, and
numerical methods.
                                                            </li>
                                                        </ol>
                                                    </div>
                                                    <div class="tab-pane fade" id="list-HS-159-list" role="tabpanel"
                                                        aria-labelledby="list-HS-159-list-list">
                                                        <strong>English Communication</strong><br>
                                                        To improve English Reading, Comprehension and Writing skills of
the students
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header blue_col" id="heading1-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse1-2" aria-expanded="false"
                                            aria-controls="collapse1-2">
                                            SEMESTER 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1-2" class="collapse" aria-labelledby="heading1-2"
                                    data-parent="#collapseOne">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-BSE-102-list" data-toggle="list" href="#list-BSE-102"
                                                        role="tab" aria-controls="BSE-102">BSE-102</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-PH-106 + PH 156-list" data-toggle="list" href="#list-PH-106 + PH 156"
                                                        role="tab" aria-controls="PH-106 + PH 156">PH-106 + PH 156</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-106-list" data-toggle="list" href="#list-MA-106"
                                                        role="tab" aria-controls="MA-106">MA-106</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-EE-104 + 154-list" data-toggle="list" href="#list-EE-104 + 154"
                                                        role="tab" aria-controls="EE-104 + 154">EE-104 + 154</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-ME-106-list" data-toggle="list" href="#list-ME-106"
                                                        role="tab" aria-controls="ME-106">ME-106</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-HS-108-list" data-toggle="list" href="#list-HS-108"
                                                        role="tab" aria-controls="HS-108">HS-108</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-BSE-102"
                                                        role="tabpanel" aria-labelledby="list-BSE-102-list">
                                                        <strong>Biosciences</strong><br>
                                                        This course intends to give knowledge about the basics of
biology to engineering students who might not be in touch with
this subject after their matriculation.
                                                    </div>
                                                    <div class="tab-pane fade" id="list-PH-106 + PH 156" role="tabpanel"
                                                        aria-labelledby="list-PH-106 + PH 156-list">
                                                        <strong>Physics II</strong><br>
                                                        <strong>Electrostatics:</strong> Coulomb's law, Gauss theorem, electric potential,
Laplace's equation, Poisson's equation, electrostatics with conductors,
                                                        capacitors, dielectrics. <strong>Magnetostatics:</strong> Biot Savart's law, Ampere's law,
Lorentz force.
                                                        <strong>Magnetic</strong> Induction: Faraday's law, Lenz's law, self and mutual
inductance, energy in a magnetic field, LCR circuit, resonance.
                                                        <strong>Maxwell's equations:</strong> displacement current, electromagnetic waves,
plane wave solutions of Maxwell's equations, Poynting vector, wave
propagation through a boundary, reflection, refraction, absorption and
skin depth
                                                    </div>
                                                    <div class="tab-pane fade" id="list-ME-106" role="tabpanel"
                                                        aria-labelledby="list-ME-106-list">
                                                        <strong>Basic Mechanical Engineering</strong><br>
                                                        Introduces all the basic concepts of Mechanical Engineering <br>
                                                        Thermal Engineering , Introduction to metal forming operations,
                                                         Introduction to machine tools, Introduction to joining methods,
                                                         Introduction to metal casting processes, Introduction to Manufacturing
                                                    </div>
                                                    <div class="tab-pane fade" id="list-MA-106" role="tabpanel"
                                                        aria-labelledby="list-MA-106-list">
                                                        <strong>Linear Algebra and Ordinary Differential Equations-I </strong>
                                                        <br>
                                                        linear algebra, Vector Space, Differential equations
                                                    </div>
                                                    <div class="tab-pane fade" id="list-EE-104 + 154" role="tabpanel"
                                                        aria-labelledby="list-EE-104 + 154-list">
                                                        <strong>Basic Electrical and Electronics Engineering</strong><br>
                                                        Introduction: basic physical laws, basic circuit elements, Kirchoff''s
voltage law (KVL), Kirchoff''s current law (KCL), and a few important
circuit theorems, simple circuits.
Transients in R-L, R-C, R-L-C, Sinusoidal Steady State, Real/ Reactive
Power, Three phase power.
Working Principles of Transformers/AC/DC machines.
Functional Characteristics of Diode, BJT, OP-AMP.
Analog circuit examples: rectifiers, amplifiers, oscillators, etc.
Digital circuits: AND/OR gates, Flip Flops, DAC/ADC, etc.

                                                    </div>
                                                    <div class="tab-pane fade" id="list-HS-108" role="tabpanel"
                                                        aria-labelledby="list-HS-108-list">
                                                        <strong>Economics</strong><br>
                                                        <strong>Micoeconomics :</strong><br>
                                                        What is Economics? basic economic problems and
nature of economics; demand and supply; consumer choice; individual
and market demand; production and cost of production; profit
maximization and perfect competition;
                                                        <strong>Macroeconomics</strong><br>
                                                        National income accounting- income, expenditure
and components of GDP; consumption and saving; investment
spending and demand for money; financial systems- central bank,
money, credit, financial markets and asset prices
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Year 2
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header blue_col" id="heading2-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse2-1" aria-expanded="false"
                                            aria-controls="collapse2-1">
                                            SEMESTER 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1"
                                    data-parent="#collapseTwo">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-Minor-list" data-toggle="list" href="#list-Minor"
                                                        role="tab" aria-controls="Minor">Minor-1</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-203-list" data-toggle="list" href="#list-MA-203"
                                                        role="tab" aria-controls="MA-203">MA-203</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-201-list" data-toggle="list" href="#list-CS-201"
                                                        role="tab" aria-controls="CS-201">CS-201</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-203 + CS253-list" data-toggle="list" href="#list-CS-203 + CS253"
                                                        role="tab" aria-controls="CS-203 + CS253">CS-203 + CS-253</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-201 + CS-257-list" data-toggle="list" href="#list-CS-201 + CS-257"
                                                        role="tab" aria-controls="CS-201 + CS-257">CS-207 + CS-257</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-IC-211-list" data-toggle="list" href="#list-IC-211"
                                                        role="tab" aria-controls="IC-211">IC-211</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-Minor"
                                                        role="tabpanel" aria-labelledby="list-Minor-list">

                                                    </div>
                                                    <div class="tab-pane fade" id="list-MA-203" role="tabpanel"
                                                        aria-labelledby="list-MA-203-list">

                                                    </div>
                                                    <div class="tab-pane fade" id="list-CS-201" role="tabpanel"
                                                        aria-labelledby="list-CS-201-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS-203 + CS253" role="tabpanel"
                                                        aria-labelledby="list-CS-203 + CS253-list">.8895477</div>
                                                    <div class="tab-pane fade" id="list-CS-201 + CS-257" role="tabpanel"
                                                        aria-labelledby="list-CS-201 + CS-257-list">.4545.</div>
                                                    <div class="tab-pane fade" id="list-IC-211" role="tabpanel"
                                                        aria-labelledby="list-IC-211-list">.4626.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header  blue_col" id="heading2-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse2-2" aria-expanded="false"
                                            aria-controls="collapse2-2">
                                            SEMESTER 4
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2"
                                    data-parent="#collapseTwo">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-Minor2-list" data-toggle="list" href="#list-Minor2"
                                                        role="tab" aria-controls="Minor2">Minor 2</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA 204-list" data-toggle="list" href="#list-MA 204"
                                                        role="tab" aria-controls="MA 204">MA 204</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 202-list" data-toggle="list" href="#list-CS 202"
                                                        role="tab" aria-controls="CS 202">CS 202</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 204-list" data-toggle="list" href="#list-CS 204"
                                                        role="tab" aria-controls="CS 204">CS 204 + CS 254</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 206-list" data-toggle="list" href="#list-CS 206"
                                                        role="tab" aria-controls="CS 206">CS 206 + CS 256</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 208-list" data-toggle="list" href="#list-CS 208"
                                                        role="tab" aria-controls="CS 208">CS 208 + CS 258</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-Minor2"
                                                        role="tabpanel" aria-labelledby="list-Minor2-list">...</div>
                                                    <div class="tab-pane fade" id="list-MA 204" role="tabpanel"
                                                        aria-labelledby="list-MA 204-list">...</div>
                                                    <div class="tab-pane fade" id="list-202" role="tabpanel"
                                                        aria-labelledby="list-202-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 204" role="tabpanel"
                                                        aria-labelledby="list-CS 204-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 206" role="tabpanel"
                                                        aria-labelledby="list-CS 206-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 208" role="tabpanel"
                                                        aria-labelledby="list-CS 208-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Year 3
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header  blue_col" id="heading3-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse3-1" aria-expanded="false"
                                            aria-controls="collapse3-1">
                                            SEMESTER 5
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1"
                                    data-parent="#collapseThree">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-Minor3-list" data-toggle="list" href="#list-Minor3"
                                                        role="tab" aria-controls="Minor3">Minor 3</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 309-list" data-toggle="list" href="#list-CS 309"
                                                        role="tab" aria-controls="CS 309">CS 309 + CS 359</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 303-list" data-toggle="list" href="#list-CS 303"
                                                        role="tab" aria-controls="CS 303">CS 303 + CS 353</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 305-list" data-toggle="list" href="#list-CS 305"
                                                        role="tab" aria-controls="CS 305">CS 305 + CS 355</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 307-list" data-toggle="list" href="#list-CS 307"
                                                        role="tab" aria-controls="CS 307">CS 307 + CS 357</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-Minor3" role="tabpanel"
                                                        aria-labelledby="list-Minor3-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 309" role="tabpanel"
                                                        aria-labelledby="list-CS 309-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 303" role="tabpanel"
                                                        aria-labelledby="list-CS 303-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 305" role="tabpanel"
                                                        aria-labelledby="list-CS 305-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 307" role="tabpanel"
                                                        aria-labelledby="list-CS 307-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header blue_col" id="heading3-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse3-2" aria-expanded="false"
                                            aria-controls="collapse3-2">
                                            SEMESTER 6
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2"
                                    data-parent="#collapseThree">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-HS 302 + ES 302-list" data-toggle="list" href="#list-HS 302 + ES 302"
                                                        role="tab" aria-controls="HS 302 + ES 302">HS 302 + ES 302</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 302-list" data-toggle="list" href="#list-CS 302"
                                                        role="tab" aria-controls="CS 302">CS 302 + CS 352</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 304N-list" data-toggle="list" href="#list-CS 304N"
                                                        role="tab" aria-controls="CS 304N">CS 304N + CS 354N</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 306-list" data-toggle="list" href="#list-CS 306"
                                                        role="tab" aria-controls="CS 306">CS 306 + CS 356</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS 308-list" data-toggle="list" href="#list-CS 308"
                                                        role="tab" aria-controls="CS 308">CS 308 + CS 358</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active " id="list-HS 302 + ES 302" role="tabpanel"
                                                        aria-labelledby="list-HS 302 + ES 302-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 302" role="tabpanel"
                                                        aria-labelledby="list-CS 302-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 304N" role="tabpanel"
                                                        aria-labelledby="list-CS 304N-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 306" role="tabpanel"
                                                        aria-labelledby="list-CS 306-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS 308" role="tabpanel"
                                                        aria-labelledby="list-CS 308-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Year 4
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header  blue_col" id="heading4-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse4-1" aria-expanded="false"
                                            aria-controls="collapse4-1">
                                            SEMESTER 7
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4-1" class="collapse" aria-labelledby="heading4-1"
                                    data-parent="#collapseFour">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-CS 493-list" data-toggle="list" href="#list-CS 493"
                                                        role="tab" aria-controls="CS 493">CS 493</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-CS 493"
                                                        role="tabpanel" aria-labelledby="list-CS 493-list">
                                                        <strong>B Tech Project (BTP)</strong>
                                                        <ol>
                                                            <li>
                                                                Student can do BTech project either outside
                                                                the institute or within the institute under a
                                                                supervision of an IIT Indore Faculty
                                                            </li>
                                                            <li>
                                                                Summer Internship, if any, will be part of B
                                                                Tech Project
                                                            </li>
                                                            <li>
                                                                Duration: 6-7 months during 2nd week of May
                                                                to Last week of Nov.
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header  blue_col" id="heading4-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse4-2" aria-expanded="false"
                                            aria-controls="collapse4-2">
                                            SEMESTER 8
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4-2" class="collapse" aria-labelledby="heading4-2"
                                    data-parent="#collapseFour">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-CS 419-list" data-toggle="list" href="#list-CS 419"
                                                        role="tab" aria-controls="CS 419">CS 419</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-Discipline Elective-list" data-toggle="list" href="#list-Discipline Elective"
                                                        role="tab" aria-controls="Discipline Elective">Discipline Elective</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-Open Elective-list" data-toggle="list" href="#list-Open Elective"
                                                        role="tab" aria-controls="Open Elective">Open Elective</a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-CS 419"
                                                        role="tabpanel" aria-labelledby="list-CS 419-list">...</div>
                                                    <div class="tab-pane fade" id="list-Discipline Elective" role="tabpanel"
                                                        aria-labelledby="list-Discipline Elective-list">...</div>
                                                    <div class="tab-pane fade" id="list-Open Elective" role="tabpanel"
                                                        aria-labelledby="list-Open Elective-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {# </div>#}
    <div class="abd"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
  function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};
  setTimeout(function(){
  $('#Welcome').remove();
}, 5000);
</script>
</body>

</html>