<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>

    </style>
    <title>Home</title>
</head>

<body style="background: ghostwhite">
    <nav class="navbar navbar-dark navcol">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/iiti_logo.png" width="280px" height="70%" class="d-inline-block align-top" alt="">
            </a>
           <div class="btn-group size">
  <button type="button" class="btn btn-info">
      <strong class="navbar-text pull-right" style=" font-family: 'Lucida Handwriting';">{{user}}</strong>
  </button>
  <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu">
        <a class="dropdown-item" href="/" onclick="preventBack()">
                <i class="fa fa-sign-out" style="font-size:2vw;">Logout</i>
        </a>
  </div>
    </div>
        </div>
    </nav>
    <div class="abc"></div>
    <div id="Welcome" class="col-md-12">
    <strong><h1 >Welcome to IIT Indore</h1></strong>
    </div>
    <div class="mt-85 col-md-11 pml-12">
        {# <div class="row">#}
            <div id="accordion">
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="false" aria-controls="collapseOne">
                                Year 1
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header blue_col" id="heading1-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse1-1" aria-expanded="false"
                                            aria-controls="collapse1-1">
                                            SEMESTER 1
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1-1" class="collapse" aria-labelledby="heading1-1"
                                    data-parent="#collapseOne">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-CH-103-list" data-toggle="list" href="#list-CH-103"
                                                        role="tab" aria-controls="C103">CH-103 + CH-153</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-105-list" data-toggle="list" href="#list-MA-105"
                                                        role="tab" aria-controls="MA-105">MA-105</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-PH-105-list" data-toggle="list" href="#list-PH-105"
                                                        role="tab" aria-controls="PH-105">PH-105</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-103 + IC-153-list" data-toggle="list" href="#list-CS-103 + IC-153"
                                                        role="tab" aria-controls="CS-103 + IC-153">CS-103 + IC-153</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-HS-159-list" data-toggle="list" href="#list-HS-159"
                                                        role="tab" aria-controls="HS-159">HS-159</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-CH-103"
                                                        role="tabpanel" aria-labelledby="list-CH-103-list">...</div>
                                                    <div class="tab-pane fade" id="list-MA-105" role="tabpanel"
                                                        aria-labelledby="list-MA-105-list">...</div>
                                                    <div class="tab-pane fade" id="list-PH-105" role="tabpanel"
                                                        aria-labelledby="list-PH-105-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS-103 + IC-153" role="tabpanel"
                                                        aria-labelledby="list-CS-103 + IC-153-list">...</div>
                                                    <div class="tab-pane fade" id="list-HS-159-list" role="tabpanel"
                                                        aria-labelledby="list-HS-159-list-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header blue_col" id="heading1-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse1-2" aria-expanded="false"
                                            aria-controls="collapse1-2">
                                            SEMESTER 2
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse1-2" class="collapse" aria-labelledby="heading1-2"
                                    data-parent="#collapseOne">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-BSE-102-list" data-toggle="list" href="#list-BSE-102"
                                                        role="tab" aria-controls="BSE-102">BSE-102</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-PH-106 + PH 156-list" data-toggle="list" href="#list-PH-106 + PH 156"
                                                        role="tab" aria-controls="PH-106 + PH 156">PH-106 + PH 156</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-106-list" data-toggle="list" href="#list-MA-106"
                                                        role="tab" aria-controls="MA-106">MA-106</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-EE-104 + 154-list" data-toggle="list" href="#list-EE-104 + 154"
                                                        role="tab" aria-controls="EE-104 + 154">EE-104 + 154</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-ME-106-list" data-toggle="list" href="#list-ME-106"
                                                        role="tab" aria-controls="ME-106">ME-106</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-HS-108-list" data-toggle="list" href="#list-HS-108"
                                                        role="tab" aria-controls="HS-108">HS-108</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-ME-106"
                                                        role="tabpanel" aria-labelledby="list-ME-106-list">...</div>
                                                    <div class="tab-pane fade" id="list-BSE-102" role="tabpanel"
                                                        aria-labelledby="list-BSE-102-list">...</div>
                                                    <div class="tab-pane fade" id="list-PH-106 + PH 156" role="tabpanel"
                                                        aria-labelledby="list-PH-106 + PH 156-list">...</div>
                                                    <div class="tab-pane fade" id="list-MA-106" role="tabpanel"
                                                        aria-labelledby="list-MA-106-list">...</div>
                                                    <div class="tab-pane fade" id="list-EE-104 + 154" role="tabpanel"
                                                        aria-labelledby="list-EE-104 + 154-list">...</div>
                                                    <div class="tab-pane fade" id="list-HS-108" role="tabpanel"
                                                        aria-labelledby="list-HS-108-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Year 2
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header blue_col" id="heading2-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse2-1" aria-expanded="false"
                                            aria-controls="collapse2-1">
                                            SEMESTER 3
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1"
                                    data-parent="#collapseTwo">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-Minor-list" data-toggle="list" href="#list-Minor"
                                                        role="tab" aria-controls="Minor">Minor</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-MA-203-list" data-toggle="list" href="#list-MA-203"
                                                        role="tab" aria-controls="MA-203">MA-203</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-201-list" data-toggle="list" href="#list-CS-201"
                                                        role="tab" aria-controls="CS-201">CS-201</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-203 + CS253-list" data-toggle="list" href="#list-CS-203 + CS253"
                                                        role="tab" aria-controls="CS-203 + CS253">CS-203 + CS-253</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-CS-201 + CS-257-list" data-toggle="list" href="#list-CS-201 + CS-257"
                                                        role="tab" aria-controls="CS-201 + CS-257">CS-207 + CS-257</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-IC-211-list" data-toggle="list" href="#list-IC-211"
                                                        role="tab" aria-controls="IC-211">IC-211</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-Minor"
                                                        role="tabpanel" aria-labelledby="list-Minor-list">...</div>
                                                    <div class="tab-pane fade" id="list-MA-203" role="tabpanel"
                                                        aria-labelledby="list-MA-203-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS-201" role="tabpanel"
                                                        aria-labelledby="list-CS-201-list">...</div>
                                                    <div class="tab-pane fade" id="list-CS-203 + CS253" role="tabpanel"
                                                        aria-labelledby="list-CS-203 + CS253-list">.8895477</div>
                                                    <div class="tab-pane fade" id="list-CS-201 + CS-257" role="tabpanel"
                                                        aria-labelledby="list-CS-201 + CS-257-list">.4545.</div>
                                                    <div class="tab-pane fade" id="list-IC-211" role="tabpanel"
                                                        aria-labelledby="list-IC-211-list">.4626.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header  blue_col" id="heading2-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse2-2" aria-expanded="false"
                                            aria-controls="collapse2-2">
                                            SEMESTER 4
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2"
                                    data-parent="#collapseTwo">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-home-list" data-toggle="list" href="#list-home"
                                                        role="tab" aria-controls="home">Home</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-profile-list" data-toggle="list" href="#list-profile"
                                                        role="tab" aria-controls="profile">Profile</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-messages-list" data-toggle="list" href="#list-messages"
                                                        role="tab" aria-controls="messages">Messages</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home"
                                                        role="tabpanel" aria-labelledby="list-home-list">...</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                        aria-labelledby="list-profile-list">...</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                        aria-labelledby="list-messages-list">...</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                        aria-labelledby="list-settings-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Year 3
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header  blue_col" id="heading3-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse3-1" aria-expanded="false"
                                            aria-controls="collapse3-1">
                                            SEMESTER 5
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1"
                                    data-parent="#collapseThree">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-home-list" data-toggle="list" href="#list-home"
                                                        role="tab" aria-controls="home">Home</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-profile-list" data-toggle="list" href="#list-profile"
                                                        role="tab" aria-controls="profile">Profile</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-messages-list" data-toggle="list" href="#list-messages"
                                                        role="tab" aria-controls="messages">Messages</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home"
                                                        role="tabpanel" aria-labelledby="list-home-list">...</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                        aria-labelledby="list-profile-list">...</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                        aria-labelledby="list-messages-list">...</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                        aria-labelledby="list-settings-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header blue_col" id="heading3-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse3-2" aria-expanded="false"
                                            aria-controls="collapse3-2">
                                            SEMESTER 6
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2"
                                    data-parent="#collapseThree">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-home-list" data-toggle="list" href="#list-home"
                                                        role="tab" aria-controls="home">Home</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-profile-list" data-toggle="list" href="#list-profile"
                                                        role="tab" aria-controls="profile">Profile</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-messages-list" data-toggle="list" href="#list-messages"
                                                        role="tab" aria-controls="messages">Messages</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home"
                                                        role="tabpanel" aria-labelledby="list-home-list">...</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                        aria-labelledby="list-profile-list">...</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                        aria-labelledby="list-messages-list">...</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                        aria-labelledby="list-settings-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card_col">
                    <div class="card-header pu_col" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                                Year 4
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-header  blue_col" id="heading4-1">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse4-1" aria-expanded="false"
                                            aria-controls="collapse4-1">
                                            SEMESTER 7
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4-1" class="collapse" aria-labelledby="heading4-1"
                                    data-parent="#collapseFour">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-home-list" data-toggle="list" href="#list-home"
                                                        role="tab" aria-controls="home">Home</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-profile-list" data-toggle="list" href="#list-profile"
                                                        role="tab" aria-controls="profile">Profile</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-messages-list" data-toggle="list" href="#list-messages"
                                                        role="tab" aria-controls="messages">Messages</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home"
                                                        role="tabpanel" aria-labelledby="list-home-list">...</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                        aria-labelledby="list-profile-list">...</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                        aria-labelledby="list-messages-list">...</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                        aria-labelledby="list-settings-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header  blue_col" id="heading4-2">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse"
                                            data-target="#collapse4-2" aria-expanded="false"
                                            aria-controls="collapse4-2">
                                            SEMESTER 8
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse4-2" class="collapse" aria-labelledby="heading4-2"
                                    data-parent="#collapseFour">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="list-group" id="list-tab" role="tablist">
                                                    <a class="list-group-item list-group-item-action active"
                                                        id="list-home-list" data-toggle="list" href="#list-home"
                                                        role="tab" aria-controls="home">Home</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-profile-list" data-toggle="list" href="#list-profile"
                                                        role="tab" aria-controls="profile">Profile</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-messages-list" data-toggle="list" href="#list-messages"
                                                        role="tab" aria-controls="messages">Messages</a>
                                                    <a class="list-group-item list-group-item-action"
                                                        id="list-settings-list" data-toggle="list" href="#list-settings"
                                                        role="tab" aria-controls="settings">Settings</a>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="tab-content" id="nav-tabContent">
                                                    <div class="tab-pane fade show active" id="list-home"
                                                        role="tabpanel" aria-labelledby="list-home-list">...</div>
                                                    <div class="tab-pane fade" id="list-profile" role="tabpanel"
                                                        aria-labelledby="list-profile-list">...</div>
                                                    <div class="tab-pane fade" id="list-messages" role="tabpanel"
                                                        aria-labelledby="list-messages-list">...</div>
                                                    <div class="tab-pane fade" id="list-settings" role="tabpanel"
                                                        aria-labelledby="list-settings-list">...</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {# </div>#}
    <div class="abd"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script>
  function preventBack(){window.history.forward();}
  setTimeout("preventBack()", 0);
  window.onunload=function(){null};
  setTimeout(function(){
  $('#Welcome').remove();
}, 5000);
</script>
</body>

</html>